#mainDiv{
	text-align: right;
	vertical-align: middle;
	width: 1000px;
    background: #000;
    border-radius:45px;	
	margin: 0;
	padding: 0;
}
div#mainDiv div {
	height: 93%;
	width: 88%;
	border: 2px solid red;
	border-radius:45px;		
}
div#doNotShow{
	display:none;
}
